@charset "UTF-8";
/* Reset */
html, body, header, section, nav,
h1, h2, h3, a, p, figure, figcaption, img,
ul, li, div, button {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

/* style */
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: #0B0C10;
  color: #A8A7A7;
}

*:focus-visible {
  outline: 1px dashed #B41A4E;
  outline-offset: 2px;
}

#background-img {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

section {
  min-height: 120vh;
}

.section-title {
  position: relative;
  padding: 10px;
  color: #2C5F5D;
  font-family: "Bebas Neue";
  font-size: 2.5em;
}
.section-title::before {
  content: "⊣ ";
  color: #A8A7A7;
}
.section-title::after {
  content: " ⊢";
  color: #A8A7A7;
}

section > p:first-of-type {
  padding: 0 10px 10px 10px;
  font-size: 1.2em;
  color: #A8A7A7;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0.3s 0.3s linear;
}

.text-wrapper p {
  margin-bottom: 1em;
}
.text-wrapper p:last-of-type {
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.text-link {
  text-decoration: underline;
  color: #B41A4E;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  height: 60px;
}
.tech-stack li {
  flex: 1 0 33%;
  position: relative;
  padding-left: 15px;
}
.tech-stack li::before {
  content: "»";
  position: absolute;
  left: 0;
  line-height: 1em;
  color: #B41A4E;
}

[class$=icon] {
  width: 24px;
  height: 24px;
  fill: #A8A7A7;
}

.twitter-icon:hover {
  fill: #1DA1F2;
}

.linkedin-icon:hover {
  fill: #0E76A8;
}

.github-icon:hover {
  fill: #fff;
}

.email-icon:hover,
.external-link-icon:hover {
  fill: #B41A4E;
}

.appear {
  transition: opacity 0.5s linear, transform 0.5s linear;
}
.appear.appear-ready {
  transform: translateY(60px);
  opacity: 0;
}

/* Nav menu */
#nav-menu {
  position: fixed;
  top: 1em;
  right: 1em;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 2;
  background-color: rgba(31, 40, 51, 0.85);
  border-radius: 99999px;
}

#menu-optns {
  display: flex;
  overflow: hidden;
  align-items: center;
  max-width: 0;
  transition: max-width 0.4s ease-out;
}

.navlink {
  padding: 5px;
  color: #A8A7A7;
  text-decoration: none;
}

/* Nav button */
#menu-btn {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #A8A7A7;
  cursor: pointer;
  box-shadow: 0 0 4px 0 #2C5F5D;
  transition: box-shadow 0.2s ease-out;
}
#menu-btn:hover {
  box-shadow: 0 0 16px 0 #2C5F5D;
}
#menu-btn .bar-1 {
  top: 25%;
}
#menu-btn .bar-2 {
  top: 45%;
  opacity: 1;
}
#menu-btn .bar-3 {
  top: 65%;
}

div[class^=bar] {
  position: absolute;
  margin-right: 20%;
  margin-left: 20%;
  width: 60%;
  height: 10%;
  background-color: #2C5F5D;
  border-radius: 9999px;
  transition: all 0.4s ease-out;
}

#nav-menu.expanded #menu-optns {
  max-width: 380px;
  margin-left: 0.4em;
}
#nav-menu.expanded .bar-1 {
  top: 45%;
  transform: rotateZ(225deg);
}
#nav-menu.expanded .bar-2 {
  opacity: 0;
}
#nav-menu.expanded .bar-3 {
  top: 45%;
  transform: rotateZ(-225deg);
}

/* Intro Panel */
#intro {
  padding-top: 30vh;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 8.5vw;
  font-family: "Bebas Neue";
  transition: height 2s linear;
}

.greeting > h1 {
  margin-bottom: 0.1em;
  color: #A8A7A7;
}

.greeting {
  margin-left: 0.5em;
}

.rotatable-container {
  perspective: 15em;
  perspective-origin: -5em -0.3em;
  line-height: 1;
}

.rotatable {
  transform-style: preserve-3d;
  transform: translateZ(-1.5em);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rotatable > * {
  display: block;
  position: absolute;
  transition: 0.5s transform ease, 0.5s opacity ease;
  padding-left: 0.34em;
  color: #B41A4E;
}
.rotatable .waiting {
  transform: rotateX(-270deg) translateZ(0.5em);
  filter: blur(2px);
  opacity: 0;
}
.rotatable .front {
  visibility: visible;
  transform: rotateX(0deg) translateZ(0.5em);
  filter: none;
  opacity: 1;
}
.rotatable .bottom {
  transform: rotateX(-90deg) translateZ(0.5em);
  filter: blur(2px);
  opacity: 0.5;
}
.rotatable .back {
  transform: rotateX(-180deg) translateZ(0.5em);
  filter: blur(4px);
  opacity: 0.1;
}
.rotatable .next {
  transform: rotateX(90deg) translateZ(0.5em);
  filter: blur(0);
  visibility: hidden;
  opacity: 0;
}

#bio {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: -100px;
  padding-bottom: 100px;
  border-radius: 3px;
  font-size: 1.2em;
}
#bio .text-wrapper {
  background-color: rgba(31, 40, 51, 0.25);
  padding: 150px 10% 10% 10%;
}
#bio .img-wrapper {
  position: relative;
  bottom: -125px;
  width: 60%;
  max-width: 300px;
  overflow: hidden;
}
#bio .tech-stack {
  width: 100%;
}

/* Projects */
#projects-container {
  display: flex;
  flex-direction: column;
  padding: 5% 0 20% 0;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 10px 10%;
  color: #A8A7A7;
}
.tab-list li {
  margin-bottom: 10px;
}
.tab-list h3 {
  margin-bottom: 3px;
  white-space: nowrap;
  color: #2C5F5D;
  font-size: 1.5em;
  line-height: 1em;
  font-family: "Bebas Neue";
}
.tab-list div {
  margin-bottom: 25px;
}
.tab-list .panel-title {
  background-image: linear-gradient(to right, #0B0C10, #B41A4E);
  background-size: 0% 3px;
  background-position: bottom left;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease;
  cursor: pointer;
  box-sizing: border-box;
  padding-bottom: 3px;
  white-space: nowrap;
}
.tab-list .panel-title:hover {
  background-size: 100% 3px;
}
.tab-list .panel-title.active {
  background-size: 100% 3px;
}

.projects-panel {
  padding: 5%;
  box-sizing: border-box;
  background-color: rgba(31, 40, 51, 0.25);
}

.project {
  display: none;
  text-align: justify;
}
.project.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: projects-panel 0.75s linear;
}
.project h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 15px;
  color: #2C5F5D;
}
.project .text-wrapper {
  width: 100%;
}

.project-links {
  display: flex;
}

.proj-img-wrapper {
  flex-shrink: 0;
  max-width: 400px;
  height: auto;
}

.link-icons {
  display: flex;
  flex-direction: column;
}
.link-icons a {
  margin-bottom: 10px;
}

#publication-list {
  padding-left: 1.2em;
  list-style-type: circle;
  list-style-position: outside;
  text-align: left;
}
#publication-list li {
  margin: 15px 0;
}

@keyframes projects-panel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gallery {
  position: relative;
  padding: 15px;
  font-family: "Lato";
}

.thumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 336px;
}
.thumbs a {
  padding: 3px;
  margin: 5px;
  border-radius: 3px;
  background-color: #1F2833;
  border: 1px solid #0B0C10;
  cursor: pointer;
  box-shadow: 0 0 5px 0px rgba(168, 167, 167, 0.6);
}
.thumbs a:hover {
  box-shadow: 0 0 10px 0px rgba(168, 167, 167, 0.6);
}

.img-thumb {
  border: 1px solid #0B0C10;
  width: 150px;
  height: 150px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(11, 12, 16, 0.8);
}
.modal.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-modal-content {
  position: relative;
}

.img-preview {
  position: relative;
  display: none;
}
.img-preview.display {
  display: block;
}
.img-preview figcaption {
  display: block;
  position: absolute;
  padding: 10px;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 1em;
  color: #A8A7A7;
  background-color: rgba(11, 12, 16, 0.7);
}

.full-img img {
  height: auto;
  width: auto;
  max-height: 100vh;
  max-width: 100vw;
}

#img-preview-nav button {
  display: block;
  position: absolute;
  z-index: 3;
  background-color: rgba(11, 12, 16, 0.7);
  color: #A8A7A7;
  cursor: pointer;
}
#img-preview-nav button:hover {
  background-color: rgba(11, 12, 16, 0.25);
}

#next-img, #prev-img {
  top: 50%;
  transform: translateY(-50%);
  padding: 3px 8px;
  font-size: 3em;
  border: 1px solid #A8A7A7;
}

#prev-img {
  border-left: none;
}

#next-img {
  right: 0;
  border-right: none;
}

#close-modal {
  top: 0.2em;
  right: 0.2em;
  height: 30px;
  width: 30px;
  border: 2px solid #A8A7A7;
  border-radius: 50%;
  line-height: 1em;
  text-align: center;
}

#timeline {
  padding: 20px 0 120px 0;
}

.exp-desc {
  position: relative;
  margin: 15px 0 15px 10vw;
  padding: 15px;
  background-color: rgba(31, 40, 51, 0.25);
  text-align: justify;
}
.exp-desc h3 {
  margin-bottom: 5px;
  text-align: left;
}
.exp-desc .title {
  font-style: italic;
  text-align: left;
}
.exp-desc::before {
  content: "";
  position: absolute;
  left: calc(-5vw - 10px);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #B41A4E;
  box-sizing: border-box;
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: #0B0C10;
}
.exp-desc::after {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: calc(-5vw - 1px);
  width: 2px;
  background-color: #2C5F5D;
}
.exp-desc:first-of-type::after {
  top: 50%;
}
.exp-desc:last-of-type::after {
  bottom: 50%;
}

.year {
  font-weight: bold;
  color: #B41A4E;
}

#contact {
  position: relative;
  min-height: calc(100vh - 60px);
}
#contact.no-touch {
  touch-action: none;
}

#contact-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(31, 40, 51, 0.25);
  padding: 20px;
  border-radius: 3px;
}
#contact-me p {
  text-align: center;
  font-size: 1.5em;
  color: #B41A4E;
}

#contact-icons {
  display: flex;
}
#contact-icons a {
  display: block;
  margin: 10px;
  height: 40px;
}
#contact-icons [class$=icon] {
  width: 40px;
  height: 40px;
}

#ctr-panel {
  position: absolute;
  bottom: 0;
  transition: bottom 0.2s ease;
}
#ctr-panel button {
  box-sizing: border-box;
  color: #A8A7A7;
  border-radius: 5px;
  padding: 10px 12px;
  margin: 10px;
  background-image: linear-gradient(180deg, #2C5F5D, rgba(44, 95, 93, 0.4));
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#ctr-panel button:hover {
  background-image: linear-gradient(180deg, rgba(44, 95, 93, 0.6), rgba(44, 95, 93, 0.4));
}
#ctr-panel button:active {
  background-image: linear-gradient(180deg, rgba(44, 95, 93, 0.4), rgba(44, 95, 93, 0.2));
}
#ctr-panel button.active {
  background-image: linear-gradient(180deg, rgba(71, 71, 71, 0.6), rgba(71, 71, 71, 0.2));
}
#ctr-panel button.active:active {
  background-image: linear-gradient(180deg, rgba(71, 71, 71, 0.4), rgba(71, 71, 71, 0.4));
}

#bkgd-buttons {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease;
}
#bkgd-buttons.show {
  height: auto;
  height: 285px;
}
#bkgd-buttons label, #bkgd-buttons input {
  cursor: pointer;
  margin: 10px 5px;
  border-radius: 3px;
  padding-right: 5px;
}
#bkgd-buttons label:hover {
  background-color: rgba(44, 95, 93, 0.5);
}
#bkgd-buttons p {
  margin: 0 5px;
  font-size: 0.85em;
}
#bkgd-buttons p:last-of-type {
  text-align: right;
  margin-bottom: 5px;
}

#bkgd-modes {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
#bkgd-modes button {
  margin: 0 5px;
  border-radius: 0;
}
#bkgd-modes button:first-of-type {
  border-radius: 5px 5px 0 0;
}
#bkgd-modes button:last-of-type {
  border-radius: 0 0 5px 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #474747;
  background-color: #A8A7A7;
  color: #0B0C10;
}
footer ul {
  display: flex;
}
footer [class$=icon] {
  fill: #0B0C10;
  margin: 0 5px;
}

@media screen and (max-width: 768px) {
  body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    padding: 15px;
    font-size: 3em;
  }

  section > p:first-of-type {
    font-size: 1.2em;
    padding-left: 15px;
  }

  #bio {
    flex-direction: row;
    font-size: 1.2em;
    margin-top: 0;
    padding-bottom: 0;
  }
  #bio .text-wrapper {
    padding: 5% 90px 5% 5%;
  }
  #bio .img-wrapper {
    left: -50px;
    bottom: 0;
    flex: 1 0 250px;
  }

  #projects-container {
    flex-direction: row;
    padding: 3% 0;
  }

  .tab-list {
    display: block;
    margin-left: auto;
    padding: 0 25px;
    text-align: end;
  }
  .tab-list h3 {
    font-size: 2em;
  }

  .thumbs {
    width: 504px;
  }

  .img-preview figcaption {
    display: block;
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1em;
  }

  .exp-desc {
    margin-right: 30px;
  }

  #contact-icons a {
    margin: 20px;
    height: 60px;
  }
  #contact-icons [class$=icon] {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .section-title {
    font-size: 4em;
  }

  section > p:first-of-type {
    font-size: 1.5em;
  }

  #nav-menu {
    top: 1.5em;
    right: 1.5em;
  }

  .navlink {
    background-image: linear-gradient(to right, #A8A7A7, #2C5F5D);
    background-size: 0% 3px;
    background-position: bottom left;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
    padding: 5px 5px 6px 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .navlink:hover {
    background-size: 100% 3px;
  }

  #menu-btn {
    width: 3em;
    height: 3em;
  }

  #nav-menu.expanded #menu-optns {
    margin-left: 1em;
  }

  #bio .tech-stack {
    width: 80%;
  }

  .projects-panel {
    flex: 0 0 75%;
  }

  .project .tech-stack {
    width: 70%;
  }

  #timeline {
    padding: 100px 0;
  }

  .exp-desc {
    margin: -80px 53vw 0 2vw;
    border-radius: 3px;
    padding: 20px;
  }
  .exp-desc:nth-of-type(2n) {
    margin-left: 53vw;
    margin-right: 2vw;
  }
  .exp-desc:nth-of-type(2n)::before {
    left: calc(-3vw - 10px);
  }
  .exp-desc:nth-of-type(2n)::after {
    left: calc(-3vw - 1px);
  }
  .exp-desc::before {
    right: calc(-3vw - 10px);
    left: auto;
  }
  .exp-desc::after {
    right: calc(-3vw - 1px);
    left: auto;
    top: 80px;
    bottom: 0;
  }
}
@media screen and (min-width: 1312px) {
  section > p:first-of-type {
    padding: 15px 15px 35px 15px;
  }

  #bio {
    margin-right: 20%;
  }
  #bio .text-wrapper {
    padding: 10% 220px 10% 10%;
  }
  #bio .img-wrapper {
    left: -200px;
    flex: 1 0 300px;
  }

  .tech-stack {
    max-width: 600px;
  }

  .projects-panel {
    flex: 0 0 68%;
  }

  .project .tech-stack {
    width: 60%;
  }

  .img-preview figcaption {
    padding: 15px;
    font-size: 1.2em;
  }

  #timeline {
    padding: 120px 0;
  }

  .exp-desc {
    margin: -70px 55vw 0 5vw;
  }
  .exp-desc:nth-of-type(2n) {
    margin-left: 55vw;
    margin-right: 5vw;
  }
  .exp-desc:nth-of-type(2n)::before {
    left: calc(-5vw - 10px);
  }
  .exp-desc:nth-of-type(2n)::after {
    left: calc(-5vw - 1px);
  }
  .exp-desc::before {
    right: calc(-5vw - 10px);
  }
  .exp-desc::after {
    right: calc(-5vw - 1px);
    top: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
