#bio {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: -100px;
  padding-bottom: 100px;
  border-radius: 3px;
  font-size: 1.2em;
  
  .text-wrapper {
    background-color: rgba($med-blue, 0.25);
    padding: 150px 10% 10% 10%;
  }

  .img-wrapper {
    position: relative;
    bottom: -125px;
    width: 60%;
    max-width: 300px;
    overflow: hidden;
  }

  .tech-stack {
    width: 100%;
  }
}
