#bio {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20%;
  border-radius: 3px;
  font-size: 1.2em;
  
  .text-wrapper {
    background-color: rgba($med-blue, 0.25);
    padding: 10% 220px 10% 10%;
  }

  .img-wrapper {
    position: relative;
    left: -200px;
    flex: 1 0 250px;
    overflow: hidden;
  }

  .tech-stack {
    width: 100%;
  }
}
