#contact {
  position: relative;
  min-height: calc(100vh - 60px);

  &.no-touch {
    touch-action: none;
  }
}

#contact-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($med-blue, 0.25);
  padding: 20px;
  border-radius: 3px;

  p {
    text-align: center;
    font-size: 1.5em;
    color: $deep-pink;
  }
}

#contact-icons {
  display: flex;

  a {
    display: block;
    margin: 10px;
    height: 40px;
  }

  [class$="icon"] {
    width: 40px;
    height: 40px;
  }
}