/* style */
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background-color: $dark-blue;
  color: $light-gray;
}

*:focus-visible {
  outline: 1px dashed $deep-pink;
  outline-offset: 2px;
}

#background-img {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

section {
  min-height: 120vh;
}

.section-title {
  position: relative;
  padding: 10px;
  color: $dark-green;
  font-family: 'Bebas Neue';
  font-size: 2.5em;
  
  &::before {
    content: "\22A3\ ";
    color: $light-gray;

  }

  &::after {
    content: " \22A2";
    color: $light-gray;

  }
}

section > p:first-of-type {
  padding: 0 10px 10px 10px;
  font-size: 1.2em;
  color: $light-gray;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0.3s 0.3s linear;
}

.text-wrapper {
  p {
    margin-bottom: 1em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.text-link {
  text-decoration: underline;
  color: $deep-pink;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  height: 60px;

  li {
    flex: 1 0 33%;
    position: relative;
    padding-left: 15px;
  }

  li::before {
    content: "\00BB";
    position: absolute;
    left: 0;
    line-height: 1em;
    color: $deep-pink;
  }
}

[class$="icon"] {
  width: 24px;
  height: 24px;
  fill: $light-gray;
}

.twitter-icon:hover {
  fill: #1DA1F2;
}

.linkedin-icon:hover {
  fill: #0E76A8;
}

.github-icon:hover {
  fill: #fff;
}

.email-icon:hover,
.external-link-icon:hover {
  fill: $deep-pink;
}

.appear {
  transition: opacity 0.5s linear, transform 0.5s linear;
  
  &.appear-ready {
    transform: translateY(60px);
    opacity: 0;
  }
}