@import './colors.scss';

@import './reset.scss';
@import './general_style.scss';

body {
  background-color: $dark-blue;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;   
}

#my-canvas {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}